*, *::before, *::after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html {
    height: 100%; /* makes sure our HTML takes up 100% of the browser window */
    font-size: 100%;
    width:100%;
    margin: 0px auto;
    padding: 0;
}

body {
  /*min-height: 100%;*/
  height: 100%;
  width:100%;
  margin: 0px auto;
  padding: 0;
  font-family: 'Bitter', serif;
}

.container {
     margin: 0 auto;
     width: 100%;
     height: 100%;
     left:0;
     top:0;
 }

.chatroom-list-container {
  position: relative;
  background-color: lightgrey;
  height: 100%;
  border: 2px solid grey;
}

.chatroom-list-container .chatheader {
  position: relative;
  margin-top: 2rem;
  margin-left: 8rem;
  height: 30px;
  width: 400px;
}

.chatroom-list-container .chatheader .heading {
  position:relative;
  float:left;
  text-align: center;
  padding : 1rem;
}

.chatroom-list-container .chatheader button {
  position:relative;
  float:left;
    /*New*/
  /*right: 1.25rem;
  left: 18rem;
  top: 0;
  bottom : 35rem;*/
  height: 40px;
  width: 100px;*/
  background-color: darkgrey;
  border-radius: 10px;
  color: black;
  font-family: 'Bitter', serif;
  font-weight:bold;
  text-align: center;
  margin:1.75rem;
  border: 2px solid grey;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  /*text-decoration: none;*/
  font-size: 11px;
  padding: 14px 18px;
  cursor: pointer;
}

.chatroom-list-container .chatheader button:hover {
  background-color: black;
  color: white;
}

.chatroom-list-container .chatroom {
  clear:both;
  position:relative;
  padding: 1rem;
  text-align: center;
  font-size: 1.25rem;

}

.chatroom-list-container .chatroom a {
  text-decoration: none;
}

.chatroom-list-container .chatroom .room-link:hover {
  color:#0000ff;
}

.chat-container {
    background-color: lightyellow;
    height: 100%;
    border: 2px solid grey;
    margin-right: -100px;

}

.column {
 float: left;
 padding-left: 1rem;
 padding-right: 1rem;
}

.column.full { width: 100%; }
.column.two-thirds { width: 66.7%; }
.column.third { width: 33.3%; }

.clearfix::after {
   clear: both;
}
