*, *::before, *::after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html {
    height: 100%; /* makes sure our HTML takes up 100% of the browser window */
    font-size: 100%;
    width:100%;
    margin: 0px auto;
    padding: 0;
}

body {
  height: 100%;
  width:100%;
  margin: 0px auto;
  padding: 0;
  font-family: 'Bitter', serif;
}

.container {
     margin: 0 auto;
     width: 100%;
     height: 100%;
     left:0;
     top:0;
 }

.chatroom-list-container {
  position: relative;
  background-color: lightgrey;
  height: 100%;
  border: 2px solid grey;
}

.chatroom-list-container p {
  text-align: center;
}

.chatroom-list-container p span {
  color : #992600;
}

.chatroom-list-container .chatheader {
  position: relative;
  margin-top: 2rem;
  margin-left: 8rem;
  height: 30px;
  width: 400px;
}

.chatroom-list-container .chatheader .heading {
  position:relative;
  float:left;
  text-align: center;
  padding : 1rem;
}


.chatroom-list-container .chatheader button {
  position:relative;
  float:left;
    /*New*/
  /*right: 1.25rem;
  left: 18rem;
  top: 0;
  bottom : 35rem;*/
  height: 40px;
  width: 100px;
  background-color: darkgrey;
  border-radius: 10px;
  color: black;
  font-family: 'Bitter', serif;
  font-weight:bold;
  text-align: center;
  margin:1.75rem;
  border: 2px solid grey;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  /*text-decoration: none;*/
  font-size: 11px;
  padding: 14px 18px;
  cursor: pointer;
}

.chatroom-list-container .chatheader button:hover {
  background-color: black;
  color: white;
}



.chatroom-list-container .chatroom {
  clear:both;
  position:relative;
  padding: 1rem;
  text-align: center;
  font-size: 1.25rem;

}

.chatroom-list-container .chatroom a {
  text-decoration: none;
}

.chatroom-list-container .chatroom .room-link:hover {
  cursor: pointer;
  color:#0000ff;
}

.chat-container {
    background-color: lightyellow;
    height: 100%;
    border: 2px solid grey;
    margin-right: -100px;
}

.chat-container .roomheader {
  position:relative;
  padding: 1.25rem 1.1rem;
  border-bottom: 1px solid grey;
}

.chat-container .chat-message{
   position: relative;
   width: 100%;
   padding: 10px 10px 10px 20px;
   border-bottom: 1px solid grey;
}

.chat-container .chat-message .name{
   position: relative;
   float: left;
   font-weight: bold;
  }

.chat-container .chat-message .timestamp{
   position: relative;
   float: right;
   font-size: 0.75rem;
}

.chat-container .chat-message .message{
   clear: both;
   position: relative;
   font-size: 0.9rem;
   color: #b32d00;

}

.odd{
  background-color: #ffffff;
}

.even{
  background-color: #efefef;
}

.typemessage {
    position: fixed;
    bottom: 15px;
    width: 100%;
    height: 60px;

  }

.typemessage input[type=text] {
  width: 60%;
  height: 60px;
  padding: 12px 20px;
  font-size: 0.9rem;
  border-radius: 10px;
  border: 2px solid #ccc;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.typemessage input[type=submit] {
  width: 60px;
  height: 60px;
  background-color: darkgrey;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.typemessage input[type=submit]:hover {
  background-color: #4d4d33;
  color: white;
}

  @media (max-width: 786px) and (min-width: 320px)  {

    .chatroom-list-container .chatheader {
      position: relative;
      margin-left: 3rem;
      width: 80%;
    }

    .chatroom-list-container .chatheader .heading {
            text-align: center;
      }

    .chatroom-list-container .chatheader button {
          text-align: center;
    }


}

.column {
 float: left;
 padding-left: 1rem;
 padding-right: 1rem;
}

.column.full { width: 100%; }
.column.two-thirds { width: 66.7%; }
.column.third { width: 33.3%; }

.clearfix::after {
   clear: both;
}
